/*font-family: 'Montserrat', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'tomato';
font-family: 'Poiret One', cursive;
*/

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection {
  background-color: rgb(229, 229, 157);
}

/* zmienne kolory */
:root {
  --lightyellow: rgba(247, 225, 100, 0.7);
  --darkyellow: rgba(228, 204, 70, 1);
  --coral: rgb(201, 74, 65);
  --darkcoral: rgba(131, 50, 20, 1);
  --fontdark: rgba(0, 0, 0, 1);
  --fontlight: rgba(252, 252, 252, 1);
}

@font-face {
  font-family: "tomato";
  src: url("../css/tomatoes-font/Tomatoes-O8L8.ttf");
}

@font-face {
  font-family: "Main";
  src: url("../css/PoiretOne-Regular.ttf");
}

/* główne ustawienia, szerokość strony, flexbox itp */
.container,
.container--nav,
section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  min-width: 1240px;
}

/* paddding służący do poprawnego wyświetlania sekcji kiedy naciskam menu  */
#hello,
#about,
#guide,
#contact,
#gallery,
#ceremony {
  padding-top: 30px;
}

.container,
.container--nav {
  max-width: 1240px;
}

/* 
header {
  border-top: 80px solid white;
  background-image: url(img/wave.jpg);
  background-repeat: no-repeat;
  background-size: 60%;
  right: 0;
  height: 80vh;
  background-attachment: fixed;
} */
/* język */

#lang {
  transform: rotate(270deg);
  position: absolute;
  top: 4vh;
  left: 0;
  width: 110px;
  font-size: 20px;
  z-index: 10;
  padding: 7px;
  text-align: center;
  font-family: "Main";
  background-color: rgba(255, 255, 255, 0.7);
  background-color: rgb(240, 70, 70);
}
#lang a {
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  color: white;
}

/* nagłówki style  */
h1,
h2,
p {
  font-weight: 100;
  font-family: "Poiret One", cursive;
  font-family: "Main";
}

/* tytuł strony i menu */
.fixed {
  position: fixed;
  right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9;
}

.container--nav {
  position: relative;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
}

#home {
  width: 50px;
  height: 50px;
}

#home img {
  width: 15px;
  height: 15px;
}

ul {
  margin: 0 auto;
  padding: 20px;
  text-align: end;
}

li {
  list-style-type: none;
  margin: 20px;
  padding: 10px;
  display: inline;
  font-family: "tomato";
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--fontdark);
}

a:hover {
  color: var(--darkyellow);
  font-weight: 600;
}

/* wspólne ustawienia numeracji i zdjęć głównych sekcji */
.container--nr {
  width: 100%;
  text-align: center;
  height: 300px;
  background: url("../img/fiori.gif") no-repeat center center;
  background-size: cover;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.container--nr h3 {
  width: 100%;
  font-size: 8em;
  font-family: "tomato";
  height: 100%;
}

/* sekcja hello - przywitanie gości */
#hello {
  height: 100vh;
  width: 100vw;
}

.hello {
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  position: relative;
}

.hello--right {
  background-color: rgba(247, 105, 105, 0.8);
  -webkit-box-shadow: 16px -19px 5px 0px rgba(255, 212, 196, 0.32);
  -moz-box-shadow: 16px -19px 5px 0px rgba(255, 212, 196, 0.32);
  box-shadow: 16px -19px 5px 0px rgba(255, 212, 196, 0.32);
  width: 400px;
  max-height: 700px;
  /* border-radius: 50%; */
  color: white;
  position: absolute;
  left: 580px;
  top: 160px;
  text-align: center;
  padding: 40px 50px 40px;
  font-weight: 500;
  z-index: 7;
}

.hello--left {
  position: relative;
  /* left: 50px; */

  margin: 0 auto;
}

.hello--left img {
  margin-top: 100px;
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.hello--right h2 {
  font-size: 3em;
  padding-bottom: 20px;
}

.hello--right p {
  font-size: 1.2em;
  text-align: center;
  padding: 5px 0;
}

#date {
  position: absolute;
  font-size: 30px;
  top: 320px;
  left: -450px;
  width: 100%;
  z-index: 12;
  transform: rotate(270deg);
  color: rgba(247, 105, 105, 1);
}

#date h1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  text-align: center;
}

/* sekcja licznik */
#counter {
  color: rgba(136, 64, 102, 0.9);
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

#counter h1 {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}

.container__counter {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  height: fit-content;
  text-align: center;
}

.container__counter--nr {
  font-family: "Poiret One", cursive;
  display: inline-block;
  line-height: 1;
  padding: 20px;
  min-width: 180px;
  text-align: center;
}

span {
  display: block;
  font-size: 25px;
  color: black;
  width: 100px;
  margin: 0 auto;
}

#days {
  font-size: 80px;
  color: #82338a;
}

#hours {
  font-size: 80px;
  color: #e2b1a4;
}

#minutes {
  font-size: 80px;
  color: #f6da74;
}

#seconds {
  font-size: 60px;
  color: #de9bec;
}

/* o nas - opisy */
.container--about {
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.container--about--item img {
  width: 100%;
}

.flower--description {
  position: absolute;
  width: 400px;
  left: 0;
  right: 0;
  margin: auto;
}

.he--description p,
.she--description p {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
}

.she--description {
  flex-basis: 35%;
  text-align: center;
  padding-right: 80px;
}

.she--description :first-child::before {
  content: "";
  background-color: rgba(245, 194, 202, 0.5);
  width: 300px;
  height: 10px;
  position: absolute;
  top: 38px;
  left: 123px;
  z-index: -1;
}

.he--description {
  flex-basis: 35%;
  text-align: center;
  padding-left: 80px;
}

.he--description :first-child::before {
  content: "";
  background-color: rgba(132, 117, 155, 0.5);
  width: 220px;
  height: 10px;
  position: absolute;
  top: 14px;
  right: 164px;
  z-index: -1;
}

#she,
#he {
  position: absolute;
  font-size: 40px;

  /* background-color: blueviolet; */
  text-transform: uppercase;
}

#she {
  transform: rotate(270deg);
  top: 130px;
  left: -200px;
}

#he {
  transform: rotate(90deg);
  top: 130px;
  right: -150px;
}

/* o nas druga część sekcji */
.container--about--2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 150px auto;
  text-align: center;
}

.container--about--2--left {
  flex-basis: 70%;
  margin: 0 auto;
  position: relative;
}
.container--about--2--img {
  width: 100%;
  /* border: 20px solid rgba(258, 242, 244, 0.6); */
}
.container--about--2--img img {
  width: 100%;
}

.container--about--2--right {
  position: relative;
  /* padding-left: 40px; */
  flex-basis: 90%;
  border-left: 1px solid black;
  text-align: left;
  margin-left: 100px;
}
.item-about--2 {
  padding: 20px;
  width: 80%;
}
.item-about--2 h2 {
  padding: 0 0 20px 20px;
  color: var(--coral);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.item-about--2 h2::before {
  content: "";
  position: absolute;
  left: -10px;
  background-color: var(--coral);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/* sekcja ceremonia */
.container--ceremony {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container--ceremony {
  height: 400px;
  text-align: center;
}

.container--ceremony--content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.ceremony--place--box h2,
.ceremony--time--box h2,
.ceremony--date--box h2 {
  font-size: 50px;
}
.container--ceremony h2 {
  font-size: 40px;
  padding: 20px;
}
.container--ceremony--intro {
  width: 75%;
  margin: 0 auto;
}
.container--ceremony--intro p {
  font-size: 25px;
  padding: 0 50px 70px;
  text-align: center;
}
.ceremony--time--box {
  display: flex;
  flex-basis: 30%;
}

.rotated {
  transform: rotate(270deg);
  height: 50px;
}

.rotated::before {
  content: "";
  background-color: rgba(235, 149, 146, 0.5);
  width: 80px;
  height: 12px;
  position: absolute;
  top: 16px;
  left: -10px;
  z-index: -1;
}

.ceremony--place--box {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 35%;
}
.where--inside--box {
  text-align: center;
  padding-left: 30px;
  border-left: 1px solid black;
}
.where--inside--box h2 {
  width: 100%;
}

.where--inside--box p {
  font-size: 20px;
  padding: 10px;
}
.ceremony--date--box {
  flex-basis: 65%;
  color: var(--coral);
}
.ceremony--date--box h2 {
  padding-top: 50px;
  font-size: 80px;
  color: var(--darkcoral);
}
.ceremony--date--box h3 {
  font-family: "Poiret One", cursive;
  font-size: 30px;
  background-color: rgba(211, 83, 40, 0.5);
  color: rgb(165, 36, 36);
  width: 20%;
  margin: auto;
  padding: 10px;
}

.ceremony--img--box {
  position: absolute;
}
.bcg--ceremony {
  background-image: url("../img/oneflower.png");
  background-repeat: no-repeat;
  background-size: contain;
  filter: opacity(0.7);
  width: 1000px;
  height: 600px;
  position: absolute;
  z-index: -10;
  background-position-y: 30px;
  background-position-x: 280px;
  transform: rotate(30deg);
}

.ceremony--img--box img {
  width: 200px;
}

/* sekcja z mapą */
#map {
  filter: hue-rotate(30deg);
  filter: grayscale(0.8);
  margin-top: 180px;
  width: 100vw;
  height: 300px;
}

iframe {
  width: 100%;
  margin: 0 auto;
}

/* sekcja przewodnik */

.container__guide {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.guide__wrapper {
  flex-basis: 80%;
  margin: 50px auto 0;
  text-align: start;
  border: 1px solid black;
  letter-spacing: 1px;
}

.guide__wrapper h1 {
  color: var(--coral);
  font-size: 50px;
  text-align: start;
  padding: 30px 50px 10px 40px;
  width: 100%;
}
.guide__wrapper h2 {
  padding: 0 30px 30px 30px;
  text-align: end;
  font-size: 18px;
}
.guide__content__wrapper {
  flex-basis: 90%;
  font-family: "Main";
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin: 0 auto;
  counter-reset: my-awesome-counter;
}
.felicita {
  flex-basis: 100%;
  padding: 50px;
}

iframe {
  margin: 50px;
}

.guide__content__wrapper div {
  padding-top: 50px;
  padding-right: 400px;
  flex-basis: 80%;
}
.guide__content__wrapper div:nth-child(2n + 1) {
  text-align: start;
  padding-left: 400px;
  padding-right: 0;
}
.guide__content__wrapper h3 {
  font-size: 30px;
  font-weight: 400;
  padding: 12px 0;
  counter-increment: my-awesome-counter;
  display: flex;
  width: auto;
  position: relative;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.guide__content__wrapper h3::before {
  content: counter(my-awesome-counter) ".";
  font-size: 150px;
  width: 300px;
  height: 300px;
  position: absolute;
  left: -200px;
  top: 0px;
  z-index: -5;
  border-radius: 50%;
  background-color: rgba(253, 188, 183, 0.418);
}

.guide__content__wrapper p {
  padding-top: 12px;
  font-size: 17px;
  letter-spacing: 1px;
}

/* sekcja galeria */
#gallery--info {
  background-color: rgba(258, 242, 244, 0.6);
  margin-top: 20px;
}

#gallery--info .container {
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  padding: 50px;
}

/* sekcja kontact */
#contact2 {
  width: 100vw;
  margin-top: 50px;
  background-image: url("../img/Floral-Footer.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact__box {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact__box h1 {
  font-family: "Poiret One", cursive;
  width: 100%;
  display: block;
  font-size: 2.4em;
  padding: 20px;
}

.vertical {
  transform: rotate(270deg);
  background-color: var(--lightyellow);
}

.contact--nr {
  margin: 0;
}

.contact__box--nr {
  display: flex;
  padding: 2px;
  width: 60%;
  margin-right: 100px;
}

.contact--nr {
  margin: 0 auto;
  flex-basis: 50%;
  position: relative;
}

.contact--nr img {
  clip-path: circle(50%);
  display: block;
  width: 70%;
  margin: 0 auto;
  filter: saturate(0.5);
  border: px solid rgb(241, 241, 147);
  border-radius: 50%;
  padding: 15px;
}

.contact--nr h2 {
  font-family: "Poiret One", cursive;
  width: 100%;
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: rgb(97, 11, 47);
}

.contact--nr p {
  transform: rotate(20deg);
  padding: 10px;
  font-size: 40px;
  position: absolute;
  background-color: rgba(253, 230, 201, 0.5);
  z-index: 2;
}
.marco p {
  right: -20px;
  top: -10px;
  width: 100%;
  transform: rotate(20deg);
}
.michalina p {
  top: 210px;
  left: -20px;
}

#contactForm .container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0 100px 100px;
  position: relative;
}

.contact__form--left--border {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 100%;
  height: 650px;
  background-image: url("../img/oneflower.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.contact__form--left {
  margin-right: 50px;
  background-color: rgba(255, 255, 255, 0);
  padding-right: 100px;
  padding-top: 20px;
  width: 37%;
  z-index: 0;
  font-size: 16px;
}

.contact__form--right {
  border: 1px solid black;
  width: 55%;
  padding: 30px;
}

.contact__form--right h1 {
  padding-bottom: 20px;
  text-transform: uppercase;
}

/* formularz kontaktowy */

form,
input,
select,
textarea {
  font-family: "Poiret One", cursive;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
}

div.box {
  margin: 0 auto;
  width: 100%;
}

div.box label {
  width: 100%;
  display: block;
  padding: 10px 0 10px 0;
  position: relative;
}

div.box label span {
  display: block;
  color: #0c0808;
  font-size: 19px;
  float: left;
  width: 150px;
  text-align: right;
}

div.box .wpis {
  padding: 10px 10px;
  width: 250px;
}

div.box .wiadomosc {
  padding: 7px 7px;
  width: 350px;
  overflow: hidden;
  height: 150px;
  max-width: 250px;
  max-height: 400px;
}

div.box .button {
  margin: 0 0 10px 0;
  padding: 4px 7px;
  background: #03271b;
  color: white;
  border: 0px;
  position: absolute;
  top: 170px;
  right: 130px;
  width: 100px;
}

/* js strzałka w góre przy skrolu */

.scrollTopButton {
  width: 64px;
  height: 64px;
  position: fixed;
  visibility: hidden;
  overflow: hidden;
  z-index: 99999999;
  background-image: url(../ikony/right.png);
  right: 50px;
  bottom: 30px;
  transition: all 0.5s ease-in-out;
}

.scrollTopButton.show {
  visibility: visible;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.scrollTopButton.show a {
  width: 100px;
  height: 100px;
  display: block;
}

/* ustawienia stopki  */
footer {
  background-color: var(--lightyellow);
  height: 10vh;
  position: relative;

  /* margin-top: 20px; */
  font-family: "tomato";
}

.foot {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* menu */

/* @keyframes nav_bcg {
    from {
        background-color: rgba(255, 255, 255, 0);
    }

    to {
        background-color: rgba(255, 255, 255, 0.6);

    }
} */

@media (max-width: 1240) {
}
